
<div class="text-center">


	<%= form_tag login_path do %>
<!-- 	<div class="form-group form_login"> -->
<br>

	<span class="input input--minoru">
	  <%= text_field_tag :email, nil, class: "input__field input__field--yoko" , id: "input-16"  %> 
	  <label class="input__label input__label--yoko" for="user_name">
		<span class="input__label-content input__label-content--yoko">Email</span>
		</label>
	</span>

	<span class="input input--minoru">
	  <%= password_field_tag :password, nil, class: "input__field input__field--yoko" , id: "input-16"  %>
    <label class="input__label input__label--yoko" for="user_name">
  	<span class="input__label-content input__label-content--yoko">Password</span>
  	</label>
  </span>

	<br>
	<br>

	  <%= submit_tag("Login", class: "btn_1 btn-6 btn-6a") %>

	 


	<% end %>

	</div>
