<!-- //CONTAINER -->
<div class="register_container">
	
<div class="container">
	<div class="row c_register">
		<div class="col-sm-6">
			<h2>You are new here, now what?</h2>
			<p class="lead">This is the best site for those who want to try their luck and change their lives in barcelona.</p>
			<p>Here you will get the least common but valuable information, that when we arrived nobody lets us know, just we have to discover by ourselves. Get many tips depending on your valuation you will consider the recommendation and you can appreciate too!</p> 
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-5">
		<%= render "register_form" %>			
		</div>
	</div>
</div>
</div>

<!-- =========================================== -->
<section class="module parallax parallax-1">
  <div class="container_1" id="about">
    <h1>about</h1>
  </div>
</section>

<section class="module content">
	<div class="about">
		<div class="row r_about_3">
			<div class="container text-center">
				<p>Its simple, easy, cool and really util, you just have to</p> <br>
				

				<div class="col-sm-4 text-center">
					<div class="circulo">
						<span class="glyphicon glyphicon-user icono_home" aria-hidden="true"></span>
					</div>
				</div>

				<div class="col-sm-4 text-center">
					<div class="circulo">
						<span class="glyphicon glyphicon-comment icono_home" aria-hidden="true"></span>
					</div>
				</div>

				<div class="col-sm-4 text-center">
						<div class="circulo">
						<span class="glyphicon glyphicon-star icono_home" aria-hidden="true"></span>
						</div>
				</div>



				<div class="row text-center">

					 <div class="col-sm-4 text-center">
					 	<br><h4>Get login</h4>
					 </div>

					 <div class="col-sm-4 text-center">
					 	<br><h4>Then leave a nice tip</h4>
					 </div>

					 <div class="col-sm-4 text-center">
					 	<br><h4>And rate tips!</h4>
					 </div>

				</div>

			</div>
		</div>
	</div>
</section>

<!-- =========================================== -->

<section class="module content">
	<section class="module parallax parallax-2">
	  <div class="container_1">
	    <h1>Categories</h1>
	  </div>
	</section>
</section>

<div class="tips">
	<div class="row r_about">
		<div class="container">

			<div class="col-md-10 col-md-offset-1"> 
			<h4> <strong>NowWhat</strong> has a simple design, so you can see tips from other users really fast and easy</h4><br>
			<img src="/assets/tips.png" alt="">

		</div>
	</div>
</div>

<!-- =========================================== -->

<section class="module parallax parallax-3">
  <div class="container_1">
    <h1>Tips</h1>
  </div>
</section>

<div class="tips">
	<div class="row r_about about_2">
		<div class="container">
		
			<div class="col-sm-7"> <img src="/assets/laptop1.png" alt=""> </div>
			<div class="col-sm-5"> 
				<h3>You help people while people help you!!</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti perferendis corporis ea minima nesciunt minus aspernatur, sequi officia iusto debitis consequatur aliquid eveniet vero. Modi hic dicta illo debitis sed! </p>
			</div>

			</div>
		</div>
	</div>
</div>

<!-- <div class="last">
	<div class="row">
		<div class="container">

			
			</div>
		</div>
	</div>
</div> -->



<!-- =========================================== -->
<!-- //CONTAINER -->



<!-- //MODAL -->

<div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
  <div class="modal-dialog text-center">
    <div class="modal-content ">
      <div class="modal-header">
      <div class="row">
      	
	      <div class="col-sm-11">
	        <h4 class="modal-title">Hi! welcome back :) </h4>
	      </div>
	      <div class="col-sm-1">
	        <button type="button" id="close" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button> <br>
	      </div>
      </div>
      </div>
      <div class="modal-body"> 
        <%= render "login_form" %> 
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
		
<!-- //MODAL  -->
