

<div class="container">
	

  <h1>Hello<%= @user.name %>!</h1>
  <h3>Welcome to your profile page :)</h3>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">your tips</a></p>

<%= link_to "Edit", edit_user_path %>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Categoria1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Categoria2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Categoria3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>


</div>
