/*
*= require_tree .
*/ 
@import "bootstrap-sprockets";
@import "bootstrap";

.header {
	height: 70px;
	width: 100%;
	background-color: #1A1A1A;
	color: white;
	/*position: fixed;*/
}

.b_header {
	color: white;
}

.b_header:hover, .b_header:focus {
	color: gray;
}

.b_login {
	width: 75px;
}

.titulo {
 margin-top: 15px;
}

.botonera {
	margin-top: 15px;
	float: right;
	margin-right: 0;
}


.f_register {
	width: 300px;
	margin-top: 10px;
}

.b_login_1{
	margin-top: 15px;
	width: 300px;
}

.c_register{
	margin-top: 100px;
	height: 400px;
}

.r_about {
	height: 400px;
	background-color: #F9F9F9;
	margin-top: 50px;
	text-align: center;
}

.r_about_2{
	margin-top: 50px;
}

.r_cat {
	height: 300px;
	margin-top: 50px;
	text-align: center;
}

.footer{
	background-color: black;
	height: 150px;
	color: white;
}

.grumpy{
	width: 200px;
}

.b_login2{
	background-color: black;
	border-color: white;
}