// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.category_li {
	display: inline;
}

.btn_li{
width: 240px;
height: 240px;
border-radius: 0px;
margin: 0px;
}