// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
	background-color: blue;
}
.edit_user_container{
	height: 500px;
	margin-top: 50px;
}

.btn-edit{
	margin-left: 10px;
	margin-top: 30px;
}

.btn_edit_cancel{
	margin-left: 0px;
	margin-top: 30px;
}

.profile_image_div{
	margin-top: 35px;
}

.img-circle{
	border: 6px solid white;
}

.img_user{
	width: 150px;
	height: 150px;
}

.tiny_img_user{
	width: 55px;
	height: 55px;
}

.title_row{
	padding-bottom: 20px;
}


.user_tips_{
	padding-top: 10px;
	background-color: #F9F9F9;
	padding-bottom: 30px;
}

.user_row{
	margin-top: 60px;
}

.user_tips_row{
	margin-top: 20px;
}


// =======================================


/* General button style (reset) */
.btn_rate {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 4px 36px;
	display: inline-block;
	margin: -15px 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_rate:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


/* Button 6 */
.btn-6_rate {
	color: #fff;
	background: #22C9DB;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-6_rate:active {
	top: 2px;
}

/* Button 6a */
.btn-6a_rate {
	border: 2px solid #22C9DB;
}

.btn-6a_rate:hover {
	background: transparent;
	color: #22C9DB;
}