// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_image_div{
	margin-top: 35px;
}


.img_user{
	width: 150px;
	height: 150px;
}

.title_row{
	padding-bottom: 20px;
}


.user_tips_{
	background-color: #F9F9F9;
	padding-bottom: 20px;


}