

<div class="col-lg-6 col-sm-offset-3">
	<%= form_for [@category, Tip.new] do |f| %>
 		<div class="input-group">
	  	<%= f.text_field :description , class: "form-control" %>
	  	<%= f.hidden_field :user_id, value: current_user.id %>

	    <span class="input-group-btn">
	  	<%= f.submit 'Save' , class: "btn btn-default"%>
	  	<% end %>
	    </span>
   </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->

